<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466778344201-1dkts5hitgsijasfoaokak2767d702n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466778344201-1dkts5hitgsijasfoaokak2767d702n9</string>
	<key>API_KEY</key>
	<string>AIzaSyDUsvvw1-4Liict7_IA_cDFPEYrl77QajU</string>
	<key>GCM_SENDER_ID</key>
	<string>466778344201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eason.domeLogin</string>
	<key>PROJECT_ID</key>
	<string>demologin-fff45</string>
	<key>STORAGE_BUCKET</key>
	<string>demologin-fff45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466778344201:ios:9647a0746c5a527e1221d8</string>
</dict>
</plist>